# Artifacts and temp folders
.artifacts/**
.tmp/**

# Engine + Secrets + databases
.env
.engine/**
.db/**

# Dependencies
test-harness/.cbfs/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# modules
modules/**

# log files
logs/**

# Resource tests
test-harness/tests/resources/storage/**
test-harness/tests/storage/**
