.vscode

.artifacts/**
.tmp/**

# Dependencies
modules/**

# Testing
test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/tests/resources/storage/**
test-harness/logs/**
test-harness/.env

# log files
logs/**